/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/


/**
 * Break Point Sizes for different size devices
 */
 $bpxld: 1200px;
 $bpld: 1024px;
 $bpmsd: 992px; /* Break Point Medium Standard */
 $bpmd: 768px;
 $bpsd: 576px;
 $bpxsd: 480px;
 
 $bpxldMax: 1199px;
 $bpldMax: 1023px;
 $bpmsdMax: 991px; /* Break Point Medium Standard */
 $bpmdMax: 767px;
 $bpsdMax: 575px;
 $bpxsdMax: 479px;
  
 $big-gutter:                    50px;
 $default-gutter:                30px;
 $small-gutter:                  10px;
 $gutter: 16px;
  
 $color__white:                   #fff;
 $color__reddish:                 #d74440;
 $color__greenish:                #00ff00;
 $color__ash:                     #ccc;
 $color__blackish:                #303030;
  
 $color__theme-primary:           $color__reddish;
 $color__border:                  $color__ash;
 
 $color__font-primary:            $color__blackish;
 $color__font-primary-light:      lighten($color__blackish, 15%);
 
 $color__font-link:               $color__blackish;
 $color__font-link-hover:         $color__font-primary-light;
 
 $color__font-top-nav:            $color__white;
 $color__font-top-nav-hover:      darken($color__white, 10%);
 
 $color__bg-body:                 #f5f5f5;
 $color__bg-top-nav:              $color__reddish;
 
 $color__bg-highlight:           #f5f5f5;
 $color__font-highlight:         #f5f5f5;
 
 $family__font-primary:           -apple-system,BlinkMacSystemFont,"Roboto Condensed",sans-serif,arial;
 
 
 $size__font-primary:            16px;
 $size__font-top-nav:            $size__font-primary;
 
 $h1-font-size:                  $size__font-primary * 1.4;
 $h2-font-size:                  $size__font-primary * 1.3;
 $h3-font-size:                  $size__font-primary * 1.2;
 $h4-font-size:                  $size__font-primary * 1.1;
 $h5-font-size:                  $size__font-primary * 1.1;
 $h6-font-size:                  $size__font-primary;
 
 /**
  * @include border-radius(1px);
  */
  @mixin border-radius($radius) {
     /* Safari 3-4, iOS 1-3.2, Android 1.6- */
     -webkit-border-radius: $radius;
     /* Firefox 1-3.6 */
     -moz-border-radius: $radius;
     /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
     border-radius: $radius;
 }
 
 /**
  * @include box-shadow(2px 2px 3px #aaa);
  */
  @mixin box-shadow($str, $inset: false) {
     @if $inset {
         -webkit-box-shadow:inset $str;
         -moz-box-shadow:inset $str;
         box-shadow:inset $str;
     } @else {
         -webkit-box-shadow: $str;
         -moz-box-shadow: $str;
         box-shadow: $str;
     }
 }
 
 /**
  * @@include transition-stuffs(background-color .5s ease, color .5s ease);
  */
 @mixin transition-stuffs($args1, $args2: false) {
     @if $args2 {
         -webkit-transition: $args1, $args2;
         -moz-transition: $args1, $args2;
         -o-transition: $args1, $args2;
         transition: $args1, $args2;
     } else {
         -webkit-transition: $args1;
         -moz-transition: $args1;
         -o-transition: $args1;
         transition: $args1;
     }
 }
 
 /**
  * @include icon-font("\ef99");
  */
 @mixin icon-font($fontcode: false) {
     font-family: 'IcoFont' !important;
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     white-space: nowrap;
     word-wrap: normal;
     direction: ltr;
     line-height: 1;
     /* Better Font Rendering =========== */
     -webkit-font-feature-settings: "liga";
     -webkit-font-smoothing: antialiased;
     @if $fontcode {
         content: $fontcode;
     }
 }
 
 
 